<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>آزمون</title>
    
    {% load static %}
    <link href="{% static 'plugins/bootstrap/css/bootstrap.rtl.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    
</head>
<body class="d-flex align-items-center justify-content-center">
    
</body>
<script src="{% static 'js/jquery.min.js' %}"></script>
{{ form.media }}
</html>